{% extends "answers/base.html" %}
{% load i18n %}

{% block document %}
<div>
  <h1>Ask a Question</h1>
  <p>
    Submit a new public question, and we'll answer it as soon as we can.
    All fields are required.
  </p>
</div>
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}


{% block sidebar %}
<h4>Submission tips</h4>
<ul>
  <li>Format your title in the form of a question.</li>
  <li>Provide as much detail as you can.</li>
  <li>This is a public forum.</li>
</ul>
{% endblock %}
