{% extends "answers/base.html" %}
{% load i18n %}

{% block document %}
<div class="page-header">
  <h1>Ask a Question</h1>
  <p>Submit a new public question, and we'll answer it as soon as we can. All fields are required.</p>
</div>
<form class="form-comment" method="post" action=".">
  {{ question_form.as_p }}
  <!-- XXX Need to be fixed
       <input type="submit" class="btn" value="{% trans 'Preview' %}" /> -->
  <input type="submit" class="btn btn-primary" value="{% trans 'Submit' %}" />
  {% csrf_token %}
</form>
{% endblock %}


{% block sidebar %}
<h4>Submission tips</h4>
<ul class="unstyled">
  <li>Format your title in the form of a question.</li>
  <li>Provide as much detail as you can.</li>
  <li>This is a public forum.</li>
</ul>
{% endblock %}
