{% extends "answers/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block document %}
<div class="page-header">
  <form class="form-search row-fluid" method="get" action="{% url 'answers_search' %}">
    <div class="input-append row-fluid">
      <input type="text" class="span10 search-query" name="q">
      <input type="submit" class="btn btn-primary" value="{% trans 'Search' %}" />
    </div>
  </form>
  {% if query %}
  {{ results|length }} questions matching &quot;{{query}}&quot;
  {% endif %}
</div>

{% if query %}
<div>
  {% if results %}
  {% for result in results %}
  {% include "answers/question_short.html" with question=result.object %}
  {% endfor %}
  {% else %}
  <p>No results found.</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
