{% extends "answers/base.html" %}
{% load i18n %}
{% load comments %}
{% load voting_tags %}
{% load staticfiles %}

{% block document %}
{% vote_by_user user on question as user_vote %}

<div>
  <a href="{% url 'answers_list' %}">&lt; {% trans 'All Questions' %}</a>
</div>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div>
  {% if not is_following %}
  <form method="post" action="{% url 'answers_follow' question.id %}">
    <button type="submit">{% trans 'Follow' %}</button>
    {% csrf_token %}
  </form>
  {% else %}
  <form method="post" action="{% url 'answers_unfollow' question.id %}">
    <button type="submit">{% trans 'Unfollow' %}</button>
    {% csrf_token %}
  </form>
  {% endif %}
  {% if user_vote %}
  <div>
    My vote: {% trans 'Upvote' %}
  </div>
  {% else %}
  <form method="post" action="{% url 'answers_vote' question.id 'up' %}">
    <button type="submit">{% trans 'Upvote' %}</button>
    {% csrf_token %}
  </form>
  {% endif %}
</div>

<div>
  {% get_comment_count for question as answers_count %}
  <h2>{{question.title}}</h2>
  <p>{{question.text}}</p>
  <em>Asked by {{question.user}}</em>
  <h4>{{answers_count}} Answers</h4>
</div>
<div>
  {% get_comment_list for question as answer_list %}
  {% for comment in answer_list %}
  <div>
    <a name="c{{ comment.id }}"></a>
    <div>
      <h4><a href="{% get_comment_permalink comment %}">#{{ forloop.counter }}</a>&nbsp;{{comment.user}}</h4>
      <p>
        {{comment.comment}}
      </p>
      <small>{{comment.submit_date|date:"M d, Y"}}</small>
    </div>
  </div>
  {% endfor %}

  {% if user.is_authenticated %}
  {% get_comment_form for question as form %}
  <form action="{% comment_form_target %}" method="POST">
    <fieldset>
      <legend>My Answer:</legend>
      {% csrf_token %}
      {{ form.honeypot }}
      {{ form.content_type }}
      {{ form.object_pk }}
      {{ form.timestamp }}
      {{ form.security_hash }}
      <input type="hidden" name="next" value="{% url 'answers_detail' question.id %}" />

      {{ form.comment }}
      <input type="submit" value="Submit" id="id_submit" />
    </fieldset>
  </form>
  {% else %}
  <p>Please <a href="{% url 'auth_login' %}">log in</a> to leave a comment.</p>
  {% endif %}
</div>

{% endblock %}

{% block sidebar %}
{% score_for_object question as score %}
<ul>
<!-- XXX
    referer: {{question.referer}}
-->
  <li>{{ score.num_votes }} vote{{ score.num_votes|pluralize }}</li>
  <li>{{ question.followers.all|length }} follower{{ question.followers.all|length|pluralize }}</li>
  <li>{{question.submit_date|date:"M d, Y"}}</li>
</ul>
{% endblock %}
