{% extends "answers/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block document %}
<div>
  <form method="get" action="{% url 'answers_search' %}">
    <input type="text" name="q">
    <input type="submit" value="{% trans 'Search' %}" />
  </form>
  {% if query %}
  {{ results|length }} questions matching &quot;{{query}}&quot;
  {% endif %}
</div>

{% if query %}
<div>
  {% if results %}
  {% for result in results %}
  {% include "answers/question_short.html" with question=result.object %}
  {% endfor %}
  {% else %}
  <p>No results found.</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
